* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif !important;
}

.container {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;

    background-color: #ffffff;

    margin: 5vh auto;

    border: 1px solid black;
    border-radius: 2vh;
}

#triangleCanvas {
    width: 500px;
    height: 350px;
    border: 1px solid black;
    margin: 5vh auto;
}

.inputField, .calculateBtn {
    display: block;
    position: relative;
}

.inputField {
    padding: 10px;
    width: 150px;
    height: 20px;
    font-size: 15px;
    left: 100px;
    
    border: 1px solid black;
    border-radius: 5px;
}

.inputLabel {
    
    position: relative;
    top: 10px;
    left: 115px;
    font-size: 12px;
    width: 45px;
    padding: 2px;
    background-color:white;

    z-index: 5;
}


.calculateBtn {
    width: 120px;
    margin: 50px;

    text-transform: uppercase;

    background-color: #43425d;
    color: #fdfdfd;
    border-radius: 5px;
    padding: 5px;
    left: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;

    letter-spacing: 1px;
}
